<launch>

    <node name="map_server" pkg="map_server" type="map_server" args="$(find hamster_server_launch)/maps/indoor.yaml" /> 

    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find hamster_server_launch)/rqt/hamster.perspective" /> 

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hamster_server_launch)/rviz/hamsters.rviz"/> 

    <include file="$(find mapping_controller)/launch/server_side.launch">
        <arg name="map_file_path" value="$(find hamster_server_launch)/maps/" />
    </include>

</launch>
